<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header-container">
        <%- include('./partials/header'); %>
    </header>

    <main>

        <div class="signupContainer">

                <img class="MuiSignup-img" src="/images/icons/person-plus-fill.svg">
                <h1 class="MuiSignup-title">Criar minha conta</h1>

            <div class="MuiSignup-container">

                <form class="MuiSignup-form">

                    <div class="MuiSignup-nameInput">

                        <input type="text" class="MuiSignup-name" placeholder="Nome" autocomplete="off">
                        <input type="text" class="MuiSignup-lastName" placeholder="Sobrenome" autocomplete="off">

                    </div>

                    <div class="MuiSignup-selectInput">

                        <select class="MuiSignup-select">
                            <option value="fisicPerson" autocomplete="on">Pessoa física</option>
                            <option value="juridicPerson">Pessoa jurídica</option>
                        </select>

                    </div>

    
                    <div class="MuiSignup-textForm">
                            
                        <input type="text" class="MuiSignup-CPF" placeholder="CPF*" autocomplete="off">
                        <input type="text" class="MuiSignup-RG" placeholder="RG*" autocomplete="off">

                    </div>

                    <div class="MuiSignup-emailInput">

                        <input type="text" class="MuiSignup-email" placeholder="E-mail" autocomplete="off">

                    </div>
                    
                    <div class="MuiSignup-passwordInput">

                        <input type="password" class="MuiSignup-password" placeholder="Senha" autocomplete="off">

                    </div>
                    
    
                    <div class="MuiSignup-checkContainer">

                        <input type="checkbox" id="MuiSignup-checkBox" checked>
                        <div class="MuiSignup-checkLabel">
                            <label for="MuiSignup-checkBox">Aceito receber marketing da LookUp por E-mail</label>
                        </div>
                        
                           
                    </div>

                    <div class="MuiSignup-checkContainer-2">

                        <input type="checkbox" id="MuiSignup-checkBox-2">
                        <div class="MuiSignup-checkLabel-2">
                            <label for="MuiSignup-checkBox-2">Estou ciente e CONCORDO com os termos de aceite e políticas de privacidade da LookUp.</label>
                        </div>
                        

                    </div>
                    
                    

                    <div class="MuiSignup-btnContainer">
                        <button type="submit" class="MuiSignup-btn">Criar conta</button>
                    </div>

                </form>

            </div>
            
        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>


</body>
</html>