<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header-container">

        <nav class="nav-container">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Busque aqui o seu produto...">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>

            <div class="nav-links">

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/account.svg" alt=""></a>
                    <a href="" class="nav-text-links">Minha Conta</a>
                </div>

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/support.svg" class="imagem" alt=""></a>
                    <a href="" class="nav-text-links">Atendimento</a>
                </div>

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/shopping-car.svg" alt=""></a>
                    <a href="" class="nav-text-links">Carrinho</a>
            </div>

            </div>
        </nav>

        <div class="header-options">

            <div class="hamburger-container">

                <div class="hamburger-menu category">
                    <img src="/images/icons/menu.svg" alt="">
                    <button class="menubtn header-titles">Menu</button>
                </div>
                
                <div class="hamburger-links">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                 </div>

            </div>

            <div class="category">
                <img src="/images/icons/trophy.svg" alt="">
                <a href="" class="header-titles">Mais Vendidos</a>
            </div>

            <div class="category">
                <img src="/images/icons/desktop.svg" alt="">
                <a href="" class="header-titles">Computadores</a>
            </div>

            <div class="category">
                <img src="/images/icons/laptop.svg" alt="">
                <a href="" class="header-titles">Notebooks</a>
            </div>

            <div class="category">
                <img src="/images/icons/gamer.svg" alt="">
                <a href="" class="header-titles">Gamer</a>
            </div>

        </div>

    </header>

</body>
</html>