<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Look up!</title>
</head>
<body>
    <header class="cabecalho">
        <nav>
            <form action="" method="get">
                <input type="text" name="search" id="search" placeholder="Busque aqui o seu produto..." required>
                <button class="submit-lente" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a>Minha Conta</a>
            <a>Atendimento</a>
            <a>Carrinho</a>
        </nav>
    </header>
</body>
</html>