<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header-container">

        <nav class="nav-container">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Busque aqui o seu produto...">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>

            <div class="nav-links">

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/account.svg" alt=""></a>
                    <a href="" class="nav-text-links">Minha Conta</a>
                </div>

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/support.svg" class="imagem" alt=""></a>
                    <a href="" class="nav-text-links">Atendimento</a>
                </div>

                <div class="user-nav">
                    <a href="" class="nav-icon-links"><img src="/images/icons/shopping-car.svg" alt=""></a>
                    <a href="" class="nav-text-links">Carrinho</a>
            </div>

            </div>
        </nav>

        <div class="header-options">

            <div class="hamburger-container">

                <div class="hamburger-menu category" class="menu-svg">
                    <img src="/images/icons/menu.svg" alt="">
                    <button class="menubtn header-titles">Menu</button>
                </div>
                
                <div class="hamburger-links">
                    <a href="#">Smartphones</a>
                    <a href="#">Periféricos</a>
                    <a href="#">Áudio</a>
                    <a href="#">Cadeiras</a>
                    <a href="#">Hardware</a>
                    <a href="#">Tablet</a>
                    <a href="#">TV's</a>
                 </div>

            </div>

            <div class="category">
                <a href="" class="category-link"><img src="/images/icons/trophy.svg" alt=""></a>
                <a href="" class="header-titles">Mais Vendidos</a>
            </div>

            <div class="category">
                <a href="" class="category-link"><img src="/images/icons/desktop.svg" alt=""></a>
                <a href="" class="header-titles">Computadores</a>
            </div>

            <div class="category">
                <a href="" class="category-link"><img src="/images/icons/laptop.svg" alt=""></a>
                <a href="" class="header-titles">Notebooks</a>
            </div>

            <div class="category">
                <a href="" class="category-link"><img src="/images/icons/gamer.svg" alt=""></a>
                <a href="" class="header-titles">Gamer</a>
            </div>

        </div>

    </header>

    <div class="slider">

        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide first">
                <img src="/images/banners/1.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/banners/2.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/banners/3.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/banners/4.jpg" alt="">
            </div>

            <div class="navigation-auto">

                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>

            </div>
        </div>

        <div class="manual-navigation">
            
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>

        </div>

    </div>

    <script type="text/javascript">

        let count = 1;

        setInterval(function(){
            document.getElementById("radio" + count).checked = true;
            count++
            if(count > 4){
                count = 1
            }
        },5000)

    </script>

</body>
</html>